@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  /* Font */
  --font-ubuntu: "Ubuntu Condensed", sans-serif;
  --font-inter: "Inter", system-ui, -apple-system, sans-serif;

  /* Colors */
  --color-*: initial;
  --color-white: #fff;
  --color-black: #000;
  --color-beige: #f2f0eb;
  --color-grey-500: #e4e4e7;
  --color-grey-900: #444445;
  --color-orange-500: #ef8a52;
  --color-orange-600: #e56f2d;
  --color-green-900: #4f9268;
  --color-green-500: #7ab892;
  --color-green-400: #88bf9d;
  --color-red-600: #ce2029;
  /* Accents */
  --color-lavender-500: #8d6a9f;
  --color-berry-500: #b8336a;

  /* Animations */
  --animate-puff-out-center: puff-out-center 1.6s
    cubic-bezier(0.165, 0.84, 0.44, 1)
    both;

  @keyframes puff-out-center {
    0%,
    55% {
      transform: scale(1);
      filter: blur(0px);
      opacity: 1;
    }
    100% {
      transform: scale(2);
      filter: blur(4px);
      opacity: 0;
    }
  }
}
