@utility input-size {
  padding-inline: calc(var(--spacing) * 3);
  padding-block: calc(var(--spacing) * 2.5);
  border-width: 1px;
  font-weight: var(--font-weight-normal);
  font-size: var(--text-base);
  line-height: var(--text-base--line-height);
}

@utility input-focus {
  outline: 2px solid var(--color-lavender-500);
}
